extends email-layout

block content
  h2 One Time Password
  p Hello. You have requested an otp.Please use the code to register and don't share with anyone
  br
  h2 #{otp}
  br
  p If you didn't request this email, please ignore it.
