extends layout 

block content 
  form.OTP__form(action="/register/otp" method="POST")
    h2.OTP__head Enter your OTP
    .OTP__input__container
      input.OTP__input(type="number" data-name="1" data-prev="-1" data-next="2")
      input.OTP__input(type="number" data-name="2" data-prev="1" data-next="3")
      input.OTP__input(type="number" data-name="3" data-prev="2" data-next="4")
      span ---
      input.OTP__input(type="number" data-name="4" data-prev="3" data-next="5")
      input.OTP__input(type="number" data-name="5" data-prev="4" data-next="6")
      input.OTP__input(type="number" data-name="6" data-prev="5" data-next="-1")
    input.button.OTP__submit(type="submit", value="Register")