extends layout
include mixins/_otp
block content 
  .inner
    //- form( method="POST" id="otp")
    form.form#registerForm(action="/register" method="POST" )
      h2 Register
      .basic__input
        label(for="name") Name
        input#name(type="text" name="name") 
        label(for="email") Email
        input#email(type="email" name="email")
        label(for="password" name="password") Password
        input#pass1(type="password" name="password")
        label(for="password-confirm") Confirm Password
        input#pass2(type="password" name = "password-confirm")
        label(for="otp") Enter your otp
      +otp()
      input.button(type="submit" value="Register")