.OTP__form{
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 600px;
  margin-bottom: 30px;
}

.OTP__input{
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 0;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}
.OTP__submit{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.OTP__submit__button{
  max-width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}